body {
  margin: 0;

  font-family: 'Poppins', sans-serif;

  /* font-family: 'cascadia code',Consolas, 'Courier New', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b0f40;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}

.navbar{
  background: #3a297a;
}

.navbar-brand{
  font-family: 'Phudu', cursive;
  font-size: 1.8rem;
  font-weight: 500;
}

a{
  color: white;
}

.nav-link{
  color: white;
} 
.nav-link:hover{
  color: #1b0f40;
  background-color: white;
  border-radius: 0.8rem;
} 
.navbar-brand:hover{
  color: white;
} 

.card-body {
  color: black;
  font-family: 'Palanquin Dark', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #1b0f40;
  border-color: #ffffff;
}
.btn-primary:hover {
  color: #1b0f40;
  background-color: white;
}

button.btn{
  color: #fff;
  background-color: #1b0f40;
  border-color: #ffffff;
}

button.btn :hover {
  color: #1b0f40;
  background-color: white;
}

input{
  font-family: 'Palanquin Dark', sans-serif;
}

.material-icons{
  font-size: 1rem;
}

.fa-regular{
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

h5{
  font-family: 'Poppins', sans-serif;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27,15,64)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: #1b0f40;
} 

@media screen and (min-width: 992px) {
  .custom-toggler {
    display: none;
  }
}

li{
  list-style-type: none;
  margin: 0.5rem 0;
  word-spacing: 1.5px;
}
.modalTextColor{
  color: #1b0f40;
}
